
@font-face {
  font-family: "Camellia";   /*Can be any text*/
  src: local("camelliaregular-ezdb3"),
    url("./fonts/camellia/camelliaregular-ezdb3.otf") format("otf");
}

@font-face {
  font-family: "Montserrat-Black";   /*Can be any text*/
  src: local("Montserrat-Black"),
    url("./fonts/montserrat/static/Montserrat-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat-Bold";   /*Can be any text*/
  src: local("Montserrat-Bold"),
    url("./fonts/montserrat/static/Montserrat-Bold.ttf") format("ttf");
}

